.titleContainer {
  display: flex;
  align-items: center;
  gap: 18px;
}

.title {
}

.line {
  background-color: gray;
  flex-grow: 1;
  height: 3px;
  box-shadow: 0 3px 8px;
  margin-top: 5rem 2rem;
}
