.main {
  min-height: 81vh;
}
.user-main {
  min-height: 81vh;
  width: calc(100% - 200px);
}
/* shadow for needed hr */
.hr-book {
  height: 2px;
  background-color: #4f46e5; /* Indigo */
  border: none;
  box-shadow: 0 1px 5px rgba(79, 70, 229, 0.4); /* Indigo shadow */
}

.navbar-logo {
  height: 40px;
  transform: scale(1.7); /* Scales visually without affecting layout */
}

/* Login Page */
.login {
  min-height: 100vh;

  background: url(./assets/pic2.jpg) center no-repeat;
  background-size: cover;
}

/* Carousel */
.carousel {
  height: 65vh;
}
.carousel img {
  height: 65vh;
  object-fit: cover;
  width: 100%;
}

.carousel-caption {
  background: rgba(128, 128, 128, 0.645);
  backdrop-filter: blur(2px);
}

.breadcrumb .breadcrumb-item + .breadcrumb-item::before {
  content: ">";
}
